
body
{
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid black;
    border-end-end-radius: 50%;
    background-color:whitesmoke;
}
h1{
    text-align: center;
    color: rgb(199, 199, 216);
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid white;
    border-end-start-radius: 40%;
}

#picture1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#makhaya{
    background-color:wheat;
    text-align: center;
}

p{
    text-align: center;
    }